<header class="header">
    <!-- Div com o nome da Blue -->
    <div class="bloco">
        <img src="/static/logo-blue.gif" width="200px" alt="Logo Homepage BLue">
    </div>
    <!-- Div com o nome da nossa aplicação -->
    <div class="bloco">
        <h1>CRUD com Python, Flaske SQL</h1>
    </div>
    <!-- Div com os botões de navegações -->
    <div class="bloco">
        <a href="/create" class="botao">Criar (Create)</a>
        <a href="/read" class="botao">Visualizar Tudo</a>
    </div>
</header>